@font-face {
	font-family: 'EsoFontStyle';
	src: url('esofontregular-webfont.eot');
	src: url('esofontregular-webfont.eot?#iefix') format('embedded-opentype'),
		url('esofontregular-webfont.woff2') format('woff2'),
		url('esofontregular-webfont.woff') format('woff'),
		url('esofontregular-webfont.ttf') format('truetype'),
		url('esofontregular-webfont.svg#esofontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EsoFontStyle';
	src: url('esofontbold-webfont.eot');
	src: url('esofontbold-webfont.eot?#iefix') format('embedded-opentype'),
		url('esofontbold-webfont.woff2') format('woff2'),
		url('esofontbold-webfont.woff') format('woff'),
		url('esofontbold-webfont.ttf') format('truetype'),
		url('esofontbold-webfont.svg#esofontbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

#ecdBuildList {
	font-size: 14px;
	font-weight: bold;	
}

.ecdQuietBuildLink {
	text-decoration: none !important;
	font-size: 12px;
	font-weight: normal;
	display: inline-block;
	color: black;
}

.ecdRawBuildData {
	border: solid thin; 
  	border-collapse: collapse; 
}

.ecdRawBuildData th, 
.ecdRawBuildData td {
	border: solid thin;
	padding: 2px;
}

.ecdRawBuildData th,
.ecdRawCharArrayData th {
	font-size: 15px;
	background-color: #CBAFB5;
}

.ecdRawCharArrayData {
	border: solid thin; 
  	border-collapse: collapse;
}

.ecdRawCharArrayData th, 
.ecdRawCharArrayData td {
	border: solid thin;
	padding: 2px;
}

.ecdRawCharHeader {
	font-weight: bold;
}

#ecdTableOfContents {
	float: left;
	padding: 30px;
    font-size: 14px;
    font-weight: bold;
}

#ecdRoot {
	font-family: "EsoFontStyle", "Arial", sans-serif;
	font-size: 16px;
	font-weight: normal;	
	color: WHITE;
	padding: 20px;
	background-color: BLACK;
	position: relative;
    line-height: 1.25em;
    min-width: 700px;
}

#ecdRoot img {
	vertical-align: middle;
}

.ecdBuildName {
	font-size: 48px;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	padding-left: 70px;
	padding-right: 70px;
	color: YELLOW;
	vertical-align: middle;
}

.ecdCharName {
	font-size: 24px;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.ecdClassName {
	font-size: 20px;
	font-weight: bold;
	color: #C5C29E;
	vertical-align: top;
    padding-top: 4px;
}

.ecdLevelInfo {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;	
	text-align: right;
	vertical-align: top;
}

.ecdLevel {
	font-size: 24px;
	display: inline-block;
}

#ecdActionBar {
	width: 550px;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

#ecdTitleBar {
	text-align: center;
}

.ecdActionBar1 {
	padding-bottom: 10px;
}

.ecdActionIcon {
	display: inline-block;
	width: 68px;
	height: 68px;
	background-image: url(eso_ability_frame.png);
	background-size: 100% 100%;
	vertical-align: middle;
}

.ecdActionIconImage {
	width: 64px;
	height: 64px;
	left: 0px;
	top: 2px;
	position: relative;
}


.ecdActionBarTitle {
	display: inline-block;
	vertical-align: middle;
	padding-right: 10px;
}

.ecdTooltip {
	display: none;
	padding: 10px;
    position: absolute;    
    z-index: 1000;
    background-color: BLACK;
    color: WHITE;
}

.ecdSkillTooltip {
	width: 360px;
	background-image: url(eso_item_border.png);
	background-size: 100% 100%;
	color: #C5C29E;
	line-height: 125%;
	text-align: left;
    white-space: normal;
}

.ecdSkillTooltip1 {
	width: 360px;
	background-image: url(eso_item_border.png);
	background-size: 100% 100%;
	color: #C5C29E;
	line-height: 125%;
	text-align: left;
    white-space: normal;
}

.ecdSkillTooltipDivider {
	width: 100%;
	height: 3px;
}

.ecdSkillTooltipDesc {
	text-align: center;
}

.ecdSkillTooltipTitle {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: WHITE;
	padding-top: 8px;
}

.ecdWhite {
	display: inline-block;
	color: WHITE;
}

.ecdAttributes {
	font-size: 20px;
	font-weight: bold;
	color: WHITE;
	text-align: left;
	display: inline-block;
	padding-left: 50px;
}

.ecdAttributesBox {
	display: inline-block;
	vertical-align: middle;
}

.ecdAttributesMag {
	font-size: 18px;
	font-weight: normal;
	color: #6666ff;
}

.ecdAttributesHea {
	font-size: 18px;
	font-weight: normal;
	color: #ff6666;
}

.ecdAttributesSta {
	font-size: 18px;
	font-weight: normal;
	color: #66ff66;
}

#ecdBasicStats {
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
    position: relative;
	vertical-align: top;
    margin-top: 30px;
}

.ecdStat {
	
}

.ecdStatTitle {
	color: #C5C29E;
	display: inline-block; 
}

.ecdStatValue {
	color: WHITE;
	display: inline-block;
	position: absolute;
    left: 160px; 
}

#ecdEquipSlots {
	display: inline-block;
	position: relative;
	width: 310px;
	height: 630px;	
	vertical-align: top;
	padding-top: 8px;
}

#ecdEquipSlotTitle {
	font-size: 24px;
	font-weight: bold;
}

#ecdEquipSlotSubtitle1 {
	font-size: 16px;
	font-weight: bold;
	padding-top: 5px;
	position: relative;
	top: -10px;
}

#ecdEquipSlotSubtitle2 {
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: 350px;
}

#ecdEquipSlotSubtitle3 {
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: 450px;
}

#ecdEquipSlotHead {
	position: absolute;
	left: 120px;
	top: 40px;
	height: 64px;
	width: 64px;
}

#ecdEquipSlotShoulder {
	position: absolute;
	left: 30px;
	top: 120px;
	height: 64px;
	width: 64px;
}

#ecdEquipSlotFigure {
	position: absolute;
	left: 100px;
	top: 110px;
	height: 220px;
}

#ecdEquipSlotChest {
	position: absolute;
	left: 200px;
	top: 120px;
	height: 64px;
	width: 64px;
}

#ecdEquipSlotGlove {
	position: absolute;
	left: 30px;
	top: 190px;
	height: 64px;
	width: 64px;
}

#ecdEquipSlotBelt {
	position: absolute;
	left: 200px;
	top: 190px;
	height: 64px;
	width: 64px;
}

#ecdEquipSlotLeg {
	position: absolute;
	left: 30px;
	top: 260px;
	height: 64px;
	width: 64px;
}

#ecdEquipSlotFeet {
	position: absolute;
	left: 200px;
	top: 260px;
	height: 64px;
	width: 64px;
}

#ecdEquipSlotCostume {
	position: absolute;
	left: 20px;
	top: 370px;
	height: 64px;
	width: 64px;
}

#ecdEquipSlotNeck {
	position: absolute;
	left: 90px;
	top: 370px;
	height: 64px;
	width: 64px;
}

#ecdEquipSlotRing1 {
	position: absolute;
	left: 160px;
	top: 370px;
	height: 64px;
	width: 64px;
}

#ecdEquipSlotRing2 {
	position: absolute;
	left: 230px;
	top: 370px;
	height: 64px;
	width: 64px;
}

#ecdEquipSlotWeapon11 {
	position: absolute;
	left: 20px;
	top: 470px;
	height: 64px;
	width: 64px;
}

#ecdEquipSlotWeapon12 {
	position: absolute;
	left: 90px;
	top: 470px;
	height: 64px;
	width: 64px;
}

#ecdEquipSlotWeapon21 {
	position: absolute;
	left: 20px;
	top: 540px;
	height: 64px;
	width: 64px;
}

#ecdEquipSlotWeapon22 {
	position: absolute;
	left: 90px;
	top: 540px;
	height: 64px;
	width: 64px;
}

#ecdEquipSlotBar1 {
	width: 370px;
	position: relative;
	top: -5px;
}

#ecdEquipSlotBar2 {
	position: absolute;
	left: 0px;
	top: 340px;
	width: 370px;
}

#ecdEquipSlotBar3 {
	position: absolute;
	left: 0px;
	top: 440px;
	width: 370px;
}

.eso_item_link_popup {
	position: absolute;
}
	
.eso_item_link {
	font-family: "Arial", sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 0px 2 #000000;
}

#ecdStatsandBuffs {
	display: inline-block;
	width: 250px;
}

.ecdBuff {
	vertical-align: middle;
	font-size: 16px;
	font-weight: normal;
	padding: 3px;
}

.ecdBuff img {
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

.ecdBuffDesc {
	display: inline-block;
    width: 205px;
    vertical-align: middle;
}

#ecdSkills {
	padding-top: 10px;
	float: right;
	display: inline-block;
	width: 650px;
	height: 620px;
}

.ecdSkillTitle {
	font-size: 24px;
	font-weight: bold;
}

.ecdImageFlip {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.ecdSkillSubTitle {
	font-size: 20px;
	font-weight: bold;
	color: #C5C29E;
	display: inline-block;
}

.ecdSkillSubValue {
	font-size: 20px;
	font-weight: bold;
	color: WHITE;
	display: inline-block;	
}

#ecdSkillContentTitle {
    font-size: 24px;
    font-weight: bold;
    color: WHITE;
    float: none;
    text-align: left;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 5px;
}

#ecdSkillTree {
	width: 190px;
	height: 510px;
    display: inline-block;
    margin-top: 20px;
}

.ecdSkillRank {
	font-size: 1.4em;
	display: inline-block;
	margin-top: 15px;
}

#ecdSkillContents {
	width: 440px;
	height: 560px;
    display: inline-block;
    float: right;
    padding: 3px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: -30px;
}

.ecdSkillTree1 {
}

.ecdSkillTreeContent1 {
	margin-left: 50px;
}

.ecdSkillTreeName1 {
	font-size: 20px;
    font-weight: bold;
    color: #C5C29E;
    padding: 5px;
    margin: 5px;
}

.ecdSkillTreeName2 {
	font-size: 17px;
    font-weight: bold;
    color: #C5C29E;
    padding: 2px;
}

.ecdSkillTreeName1:hover,
.ecdSkillTreeName2:hover {
	color: WHITE;
	background-color: #333;
}

.ecdSkillTreeNameHighlight {
	color: WHITE;
	background-color: #000;
}

.ecdSkillTreeNameHighlight2 {
	color: WHITE;
	background-color: #444;
}

.ecdSkillData {
}

.ecdSkillIconBox {
	width: 34px;
	height: 34px;
	background-image: url(eso_ability_frame.png);
	background-size: 100% 100%;
	display: inline-block;
	vertical-align: middle;
}

.ecdSkillPassiveIconBox {
	width: 34px;
	height: 34px;
	background-image: url(eso_round_ability_frame.png);
	background-size: 100% 100%;
	display: inline-block;
	vertical-align: middle;
}

.ecdSkillIconBox img {
	margin-top: 1px;
	margin-left: 1px;
}

.ecdSkillPassiveIconBox img {
	margin-top: 1px;
	margin-left: 1px;
}

.ecdSkillDataBox {
	padding: 2px;
	padding-left: 40px;
}

.ecdSkillName {
	font-size: 18px;
	font-weight: bold;
	display: inline-block;
}

.ecdSkillIcon {
	width: 32px;
	height: 32px;
}

.ecdSkillNameDesc {
	font-size: 14px;
	font-weight: normal;
	color: #C5C29E;
	margin-left: 25px;
	margin-bottom: 7px;
}

.ecdSkillDataHeader {
	font-size: 20px;
	font-weight: bold;
	color: #C5C29E;
	margin: 5px;
}

.ecdRawLink {
	position: absolute;
    left: 5px;
    bottom: 5px;
    font-family: "Arial" sans-serif;
    font-weight: normal;
    font-size: 12px;
}

.ecdRawLink a {
	color: #9999ff;
}

.ecdCreateDate {
	position: absolute;
    right: 5px;
    bottom: 5px;
    font-family: "Arial" sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #aaaaaa;
}

.ecdSkillTreeNameCp {
	display: inline-block;
	font-size: 75%;
	float: right;
	margin-top: 3px;
}

.ecdSkillTooltipName {
	font-size: 16px;
	font-weight: bold;
	color: #C5C29E;
	margin-left: 10px;
}

.ecdSkillTooltipValue {
	font-size: 16px;
	font-weight: bold;
	float: right;
	color: WHITE;
	margin-right: 10px;
}

#ecdBuildTable {
	border: solid 1px gray;
	border-spacing: 3px;
	border-collapse: collapse;
}

#ecdBuildTable td,
#ecdBuildTable th {
	border: solid 1px gray;
    padding: 3px;
}

.ecdBuildTableHeader {
	background-color: #C5A27E;
}

.ecdBuildTableName {
	font-size: 14px;
	font-weight: bold;	
}

.ecdSkillNameCraft {
	font-size: 18px;
	font-weight: bold;
	color: #C5C29E;
	display: inline-block;
}

.ecdSkillValueCraft {
	font-size: 16px;
	font-weight: normal;
	color: WHITE;
	display: inline-block;
	margin-left: 10px;
}

.ecdActiveAbilityBar {
	border: solid 2px yellow;
	padding: 2px;
}

#ecdTrail {
}

.ecdShortCharLink {
	float: right;
}

.ecdHeader {
	
}

.ecdTooltipTrigger {
}