#esotbTrail {
	left: 60px;
}

.esptbItemSetup {
	padding-bottom: 10px;
}

.esotbStatDetailsButton {
	line-height: 15px;
}

.esotbStatNoteButton {
	line-height: 17px;
}

#esotbStatInputs select {
	border: 1px solid #ccc;
	padding: 5px;
}

#esoispRoot select {
	padding: 5px;
	margin: 3px;
}

#esoispUneqipButton, #esoispSearchButton {
	padding: 5px;
}

#esoispInputText {
	padding: 1px;
	margin-left: 3px;
}

#esoispQuality {
	margin-left: 6px !important;
}

#esoispLevel {
	padding: 1px;
	margin-left: 3px;
}

#esoispInputs select {
	padding: 1px;
}

#esoispResults {
	height: 340px;
}

#esoispSearchButton {
	margin-top: 0px;
}

#esotbSaveButton, #esotbCreateCopyButton, #esotbDeleteButton {
	background-color: #eee;
	padding: 4px;
	border: solid 1px gray;
}

#esotbSaveButton:hover, #esotbCreateCopyButton:hover, #esotbDeleteButton:hover {
	background-color: #fff;
	padding: 4px;
	border: solid 1px black;
}